

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg_primary-color {
  background-color: #FFFFFF;
}
.primary-color {
  background-color: #FFFFFF;
}
.bg_secondary-color {
  background-color: #293241;
}
.secondary-color {
  color: #293241;
}
.buttons-container {
  display: flex;
  justify-content: space-around;
}
.custom-button.btn {
  background-color: black;
  color: #FFF;
  border: none;
  border-radius: 0;
  width: 300px;
}
.custom-button.btn:hover {
  color: #FFF !important;
  border: none;
}
.back-button.btn{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 0;
  width: 100px;
}

.main-container {
  width: 100%;
  padding: 0;
}
.content-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.select-div {
  padding: 10px;
  text-align: center;
  width: 100%;
  min-width: 300px;
}
.select-div form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 500px;
}
.select-div form input {
  align-self: center;
}
.select-div form button {
  align-self: center;
}
.info-bar {
  background-color: rgb(238, 238, 238);;
  height: 100px;
  width: 35%;
  height: auto;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info-bar-element {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.info-bar-element p {
  margin-right: 10px;
  max-width: 300px;
}
.shape-select-container {
  display: flex;
  justify-content: space-between;
}

.select-div img {
height: 200px;
width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
}

.step {
  display: inline-block;
}
.step-done {
  font-weight: bold;
}
footer {
  background-color: black;
  width: 100%;
  height: 300px;
}






@media only screen and (max-width: 600px) {
  .content-container {
    flex-wrap: wrap;
  }
  .info-bar {
    width: 100%;
  }
}